In [ ]:
import os

import pandas as pd 
from sqlalchemy import create_engine, text, inspect

db_type = 'postgresql'
db_api = 'psycopg2'
postgres_host = os.getenv('POSTGRES_HOST')
postgres_user = os.getenv('POSTGRES_USER')
postgres_password = os.getenv('POSTGRES_PASSWORD')
postgres_dbname = os.getenv('POSTGRES_DB')
postgres_port = 5432

print(postgres_host)
print(postgres_dbname)

In [ ]:
# Create connection to the database
engine = create_engine(
    f'{db_type}+{db_api}://{postgres_user}:{postgres_password}@{postgres_host}:{postgres_port}/{postgres_dbname}'
)

try:
    engine.execution_options(isolation_level='AUTOCOMMIT').connect()
except Exception as e:
    print(f'{e} Error Conneting')
else:
    print('Connection success!')

In [ ]:
# Return all the information on all the actors in the database
query_text = """
SELECT  
    actor.actor_id, 
    actor.first_name, 
    actor.last_name, 
    actor.last_update
FROM actor;
"""
pd.read_sql_query(query_text, engine)

In [ ]:
# Return the titles, year of film release, description and length of all films in the database
query_text = """
SELECT 
    film.title,
    film.release_year,
    film.length

FROM film;
"""

pd.read_sql_query(query_text, engine)

In [ ]:
# Return all info of 30 customers
query_text = """
SELECT
    *
FROM
    customer
LIMIT 10;
"""
pd.read_sql_query(query_text, engine)

In [ ]:
# Return the first name, last name and email addresses of 30 customers
query_text = """
SELECT
    first_name,
    last_name,
    email
FROM
    customer
LIMIT 10;
"""
pd.read_sql_query(query_text, engine)

In [ ]:
# Return all information about the highest payments made
query_text = """
SELECT
    *
FROM
    payment
ORDER BY 
    amount DESC
LIMIT 10;
"""
pd.read_sql_query(query_text, engine)

In [ ]:
# Return all film titles, year of release, description 
# and rental rate as a proportion of the rental duration
query_text = """
SELECT 
    title,
    release_year,
    description,
ROUND (rental_rate / rental_duration, 3) AS unit_rate
FROM 
    film;
"""
pd.read_sql_query(query_text, engine)

In [ ]:
# Return all film titles, release year, description and 
# total rental cost(the rental rate times duration) 
# as a proportion of replacement cost
query_text = """
SELECT 
    film.title,
    film.release_year,
    ROUND((rental_rate * rental_duration) / replacement_cost, 2) AS rate_cost
FROM 
    film
ORDER BY
    rate_cost DESC;
"""
pd.read_sql_query(query_text, engine)

In [ ]:
# Returns 100 films, ordered by title first, and rental rate (descending) second
query_text= """
SELECT
    title,
    rental_rate
FROM film
    ORDER BY title, rental_rate DESC
LIMIT 100;
"""
pd.read_sql_query(query_text, engine)

In [ ]:
# Returns 100 films, ordered by rental rate (descending) first, and title second
query_text = """
SELECT
    title,
    rental_rate
FROM film
    ORDER BY rental_rate DESC, title DESC
LIMIT 100;
"""
pd.read_sql_query(query_text, engine)