In [11]:
import os
from sqlalchemy import create_engine
from sqlalchemy import inspect, text
import pandas as pd

db_type = 'postgresql'
db_api = 'psycopg2'
postgres_host = os.getenv('POSTGRES_HOST')
postgres_user = os.getenv('POSTGRES_USER')
postgres_password = os.getenv('POSTGRES_PASSWORD')
postgres_dbname = os.getenv('POSTGRES_DB')
postgres_port = 5432

print(postgres_host)
print(postgres_dbname)

192.168.1.51
pagila

In [5]:
engine = create_engine(
    f'{db_type}+{db_api}://{postgres_user}:{postgres_password}@{postgres_host}:{postgres_port}/{postgres_dbname}'
)

In [6]:
engine.execution_options(isolation_level='AUTOCOMMIT').connect()

In [22]:
inspector = inspect(engine)
inspector.get_table_names()

['film_actor',
 'address',
 'city',
 'actor',
 'category',
 'country',
 'customer',
 'film',
 'film_category',
 'inventory',
 'language',
 'store',
 'payment_p2022_07',
 'rental',
 'staff',
 'payment',
 'payment_p2022_03',
 'payment_p2022_04',
 'payment_p2022_05',
 'payment_p2022_06',
 'payment_p2022_01',
 'payment_p2022_02',
 'diabetes_dataset']

In [21]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM actor LIMIT 20"))
    for row in result:
        print(row)

(1, 'PENELOPE', 'GUINESS', datetime.datetime(2022, 2, 15, 9, 34, 33, tzinfo=datetime.timezone.utc))
(2, 'NICK', 'WAHLBERG', datetime.datetime(2022, 2, 15, 9, 34, 33, tzinfo=datetime.timezone.utc))
(3, 'ED', 'CHASE', datetime.datetime(2022, 2, 15, 9, 34, 33, tzinfo=datetime.timezone.utc))
(4, 'JENNIFER', 'DAVIS', datetime.datetime(2022, 2, 15, 9, 34, 33, tzinfo=datetime.timezone.utc))
(5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2022, 2, 15, 9, 34, 33, tzinfo=datetime.timezone.utc))
(6, 'BETTE', 'NICHOLSON', datetime.datetime(2022, 2, 15, 9, 34, 33, tzinfo=datetime.timezone.utc))
(7, 'GRACE', 'MOSTEL', datetime.datetime(2022, 2, 15, 9, 34, 33, tzinfo=datetime.timezone.utc))
(8, 'MATTHEW', 'JOHANSSON', datetime.datetime(2022, 2, 15, 9, 34, 33, tzinfo=datetime.timezone.utc))
(9, 'JOE', 'SWANK', datetime.datetime(2022, 2, 15, 9, 34, 33, tzinfo=datetime.timezone.utc))
(10, 'CHRISTIAN', 'GABLE', datetime.datetime(2022, 2, 15, 9, 34, 33, tzinfo=datetime.timezone.utc))
(11, 'ZERO', 'CAGE', datetime.datetime(2022, 2, 15, 9, 34, 33, tzinfo=datetime.timezone.utc))
(12, 'KARL', 'BERRY', datetime.datetime(2022, 2, 15, 9, 34, 33, tzinfo=datetime.timezone.utc))
(13, 'UMA', 'WOOD', datetime.datetime(2022, 2, 15, 9, 34, 33, tzinfo=datetime.timezone.utc))
(14, 'VIVIEN', 'BERGEN', datetime.datetime(2022, 2, 15, 9, 34, 33, tzinfo=datetime.timezone.utc))
(15, 'CUBA', 'OLIVIER', datetime.datetime(2022, 2, 15, 9, 34, 33, tzinfo=datetime.timezone.utc))
(16, 'FRED', 'COSTNER', datetime.datetime(2022, 2, 15, 9, 34, 33, tzinfo=datetime.timezone.utc))
(17, 'HELEN', 'VOIGHT', datetime.datetime(2022, 2, 15, 9, 34, 33, tzinfo=datetime.timezone.utc))
(18, 'DAN', 'TORN', datetime.datetime(2022, 2, 15, 9, 34, 33, tzinfo=datetime.timezone.utc))
(19, 'BOB', 'FAWCETT', datetime.datetime(2022, 2, 15, 9, 34, 33, tzinfo=datetime.timezone.utc))
(20, 'LUCILLE', 'TRACY', datetime.datetime(2022, 2, 15, 9, 34, 33, tzinfo=datetime.timezone.utc))

## Using Sqlalchemy engine directly with Pandas

In [23]:
data = pd.read_sql_table('diabetes_dataset', engine)

In [24]:
data

,index,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641
...,...,...,...,...,...,...,...,...,...,...,...
437,437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485
439,439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491
440,440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930
441,441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064

In [14]:
from sklearn.datasets import load_diabetes

In [17]:
diabetes_data = load_diabetes()
diabetes = pd.DataFrame(diabetes_data['data'], columns=diabetes_data['feature_names'])

In [20]:
diabetes.to_sql('diabetes_dataset', engine)

442